* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.rectangle {
  width: 100%;
  height: 300px;
  --start: hsl(0, 100%, 50%);
  --end: hsl(322, 100%, 50%);
  background-image: linear-gradient(-135deg, var(--start), var(--end));
}